<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8">
	<title>Registration form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head> 
<body >
	
	<div class="container-fluid" >
	
	<div class="col-md-3"></div>
	<div class="col-md-6 col-resize" style="background-color: white;">
	<div class="red-box"></div>
		<p id="big">Registration Form</p>
		<p  id="space">Enter your login details</p>
		<form action="/Registration " method="POST" novalidate [formGroup]="regForm" (ngSubmit)="onSubmit()">
			<p>
				<mat-form-field class="full-width" >	
			<span style="color:red" *ngIf="b">This email exists. Please register with another email. </span>
			<input type="text" matInput formControlName="fname" required placeholder="First Name" style="margin-top:0px;">
			<mat-error *ngIf="regForm.get('fname').hasError('required') && regForm.get('fname').pristine">Please enter your first name</mat-error>
			<mat-error *ngIf="regForm.get('fname').hasError('pattern')&& (regForm.get('fname').dirty || regForm.get('fname').touched)">*Characters only</mat-error>
		</mat-form-field>
		<p>
			<mat-form-field class="full-width" >	
		<input type="text" matInput formControlName="lname" required placeholder="Second Name" style="margin-top:0px;">
		<mat-error *ngIf="regForm.get('lname').hasError('required') && regForm.get('lname').pristine">Please enter your second name</mat-error>
		<mat-error *ngIf="regForm.get('lname').hasError('pattern')&& (regForm.get('lname').dirty || regForm.get('lname').touched)">*Characters only</mat-error>
	</mat-form-field>
		</p>
			<p>
				<mat-form-field class="full-width" >	
			<input type="text" matInput formControlName="cname" name="cname" required  placeholder="Company Name">
			<mat-error *ngIf="regForm.get('cname').hasError('required') && regForm.get('cname').pristine">Please enter the name of your company</mat-error>
			<mat-error *ngIf="regForm.get('cname').hasError('pattern')&& (regForm.get('cname').dirty || regForm.get('cname').touched)">*Characters only </mat-error>
		</mat-form-field>	
		</p>
			<p>
				<mat-form-field class="full-width" >
			<input type="text" matInput formControlName="country" name="country"  required placeholder="Country">
			<mat-error *ngIf="regForm.get('country').hasError('required') && regForm.get('country').pristine">Please enter the name of your country</mat-error>
			<mat-error *ngIf="regForm.get('country').hasError('pattern')&& (regForm.get('country').dirty || regForm.get('country').touched)">*Characters only</mat-error>
		</mat-form-field>	
		</p>
			<p>
				<mat-form-field class="full-width" >
			<input type="email" matInput formControlName="email" name="email" required  placeholder="Email">
			<mat-error *ngIf="regForm.get('email').hasError('required') && regForm.get('email').pristine">Email is required</mat-error>
			<mat-error *ngIf="regForm.get('email').hasError('pattern')&& (regForm.get('email').dirty || regForm.get('email').touched)">Please enter a valid e-mail address </mat-error>
		</mat-form-field>	
		</p>
		<p>
			<mat-form-field class="full-width" >
			<input matInput formControlName="password" type="password"  placeholder="Password" required class="password"/>
			<mat-error *ngIf="regForm.get('password').hasError('required') && regForm.get('password').pristine">Password is required</mat-error>
			<mat-error *ngIf="regForm.get('password').hasError('pattern')&& (regForm.get('password').dirty || regForm.get('password').touched)">Password must be atleast of 8 characters with one uppercase, one lowercase letter, one special character and one digit, without spaces</mat-error>

		</mat-form-field>
		</p>
			<input type="submit" value="Submit" [disabled]="flagButton" (click)="validate()"><br>
		</form>
		<p style="margin-bottom:1px; margin-top:0px;">Sign up using</p><br>
		<div class="col-sm-6" style="display:inline-block">
		<button type="button" id="fb" (click)="socialSignIn('facebook')" ><i class="fab fa-facebook-f spacing"></i>Facebook</button>
	</div><div class="col-sm-6" style="display:inline-block">
		<button type="button" id="google" (click)="socialSignIn('google')"><i class="fab fa-google spacing"></i>Google</button>
	</div></div>
		<div class="col-md-3"></div>
	</div>

</body>
</html>
