<!DOCTYPE html>
	<html lang="en" style="height: 100%;">
		<head>
		<title>Create Profile</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta charset="utf-8">
	</head>
		
		<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	
		<body>
		<div class="col-md-3"></div>	
		
		<div class="col-md-6 container-fluid" style="background-color: white; padding-top: 15px; padding-bottom: 15px; ">
				
			
			<form novalidate [formGroup]="profileForm" action="" method="POST"  (ngSubmit)='onSubmit()'>
			<h4 class="text-right" style="font-size:22px;"><b>Create Your Profile</b></h4>
			<div class="row">
				<div class="col-md-6">
						<div class="red-box"></div>

						<p><mat-form-field class="full-width" >
							<input matInput formControlName="fname" type="text" placeholder="First Name" class="form-control form-border" required>
							<mat-error *ngIf="IsSubmitted && profileForm.get('fname').hasError('required') && (profileForm.get('fname').pristine || profileForm.get('fname').touched)">Please enter your first name</mat-error>
							<mat-error *ngIf="profileForm.get('fname').hasError('pattern')&& (profileForm.get('fname').dirty || profileForm.get('fname').touched)">*Characters only</mat-error>
						</mat-form-field>
						</p>	
						<p><mat-form-field class="full-width" >
							<input  matInput formControlName="lname" type="text" placeholder="Last Name" class="form-control form-border" required>
							<mat-error *ngIf="IsSubmitted && profileForm.get('lname').hasError('required') && (profileForm.get('lname').pristine || profileForm.get('lname').touched)">Please enter your last name</mat-error>
							<mat-error *ngIf="profileForm.get('lname').hasError('pattern')&& (profileForm.get('lname').dirty || profileForm.get('lname').touched)">*Characters only</mat-error>
						</mat-form-field>
						</p>		
								<p><mat-form-field class="full-width" >
							<input matInput formControlName="phone" type="tel" placeholder="Phone" class="form-control form-border" required>
							<mat-error *ngIf="IsSubmitted && (profileForm.get('phone').hasError('required')&& (profileForm.get('phone').pristine || profileForm.get('phone').touched) )">Please enter your phone</mat-error>
							<mat-error *ngIf="profileForm.get('phone').hasError('pattern')&&(profileForm.get('phone').dirty || profileForm.get('phone').touched)">Please enter a valid phone number with 10 digits</mat-error>
						</mat-form-field>
						</p>			
					<div class="form-group">
					<div style="display:inline-block; width:50%;">
					<input type="radio" name="gender" formControlName="gender" value="male" id="gm" class="radio-custom" required><label for="gm"><i class="fa fa-male" > Male</i></label>
				</div><div style="display:inline-block; width:50%;">
					<input type="radio" name="gender" formControlName="gender"  value="female"  id="gf" class="radio-custom" required><label for="gf"><i class="fa fa-female" style="display:inline-flex;" > Female</i></label>
				</div>
				
				<mat-error *ngIf="(IsSubmitted && profileForm.get('gender').hasError('required'))">Please select an option</mat-error>
				
			</div>
			
			</div>
			
				<div class="col-md-6">
					
					
					<div class="center" > 
					<img [src]="imgUrl" class="image-center"></div>
					<i class="fa fa-camera camera btn-wrapper "> </i>
					<input type="file" class="form-control form-border-file" accept="image/*" id="file" (change)='onFileChange($event);' name="file" >
				
					<div class="form-group form-shrink" [formGroup]="profileForm">						
						<div><label for="file" class="label-center">Upload Avatar</label></div>
					</div>
					<p><mat-form-field class="full-width">
							<input matInput formControlName="email"  type="email" placeholder="Email" class="form-control form-border" id="email" required>
							<mat-error *ngIf="IsSubmitted &&( profileForm.get('email').hasError('required') && (profileForm.get('email').pristine || profileForm.get('email').touched)) ">Please enter your email</mat-error>
							<mat-error *ngIf="profileForm.get('email').hasError('pattern')&& (profileForm.get('email').dirty || profileForm.get('email').touched)">Please enter a valid email address</mat-error>
						</mat-form-field>
						</p>
					
						
					<div class="dropdown" [formGroup]="profileForm">
					<!-- <button class="btn btn-default dropdown-toggle form-border bbtn" type="button" data-toggle="dropdown" value="city"  >City, State, Country<span class="caret caret-right"></span></button> -->
					
						<mat-form-field class="full-width" style="margin-top:19px;">
						<mat-select placeholder="City, State, Country" name="cityname" formControlName="city" required>
						  <mat-option [value]="country" *ngFor="let country of countries">{{country}}</mat-option>
					</mat-select>
						</mat-form-field>
						<mat-error *ngIf="IsSubmitted && profileForm.get('city').hasError('required')">This field is required</mat-error>

				</div>
				</div>
			</div>
		
		
			<div class="row">
				<div class="col-md-12">
						
					
							<p><mat-form-field class="full-width" >
							<textarea matInput formControlName="bio"  class="form-control bio"  rows="3" cols="72" placeholder="Bio" style="margin-top:25px;" >
							</textarea>
							</mat-form-field></p>
					
				</div>
			</div>
		
		
			<div class="row">
					

				<div class="col-sm-6" [formGroup]="profileForm"> 
					<div style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;">
						<ngx-recaptcha2 class="cap" [size]="size" [hl]="lang" [theme]="light" [type]="type" (expire)="handleExpire()"   formControlName="recaptcha">
						  </ngx-recaptcha2></div>
						  <mat-error *ngIf="IsSubmitted && profileForm.get('recaptcha').pristine">*Required</mat-error>

				</div>


				<div class="col-sm-6" >
					<input type="submit" class="btn btn-success btn-lg sbtn"  [disabled]="flagButton" (click)="validate()" value="Submit">
				
				</div>
				
			</div>
		</form>
	
				</div>
				<div class="col-md-3"></div>
			
	</body>
	</html>