body{
	font-family:helvetica,sans-serif;
	
}
.whitespace{
	padding:16%;
	background-color:white;
}
.form-border{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
	
	border-radius:0px;
	font-size:15px;
	font-family:Helvetica;
	color:dimgray;
	
	
}
.form-border-file{
	border:none;
	opacity:0;
	margin-top: -45px;
    margin-left: 66px;
	font-size: 21px;
	width: 35%;
	position: absolute;
}

.image-center{
width: 85px;

border-radius: 50%;

}
.label-center{
	text-align:center;
	display:block;
	margin-top:8%;
	font-size:95%;
	color:dimgray;
	
}
#email{
	margin-top:2%;
}
.form-shrink{
	margin-bottom:0px;
	}
.img-resize{
	width:90%;
	padding-top:2%;
	padding-bottom:12%;
	height:90%;
}
.sbtn{
margin-top: 5%;
    margin-left: 27%;
    width: 70%;
    border-radius: 0px;
    font-size: 18px;
}
.bbtn{
	width: 100%;
	background-color:white;
	color: dimgray;
}
.caret-right{
	margin-left: 49%;
}
.list{
	width:100%;
	}


.radio-custom{
	display:none;
}
input[type="radio"]:checked + label{ 
    color: #fd7e14;
}
input[type="radio"]:not(:checked) + label{ 
    color: dimgray;
}
.back{
	border: 2px solid white;
    margin: auto;
    width: 55%;
	background-color:white;
	margin-top:3%;
	padding: 2%;
}

.label-name{
	
	margin-top: 12%;
}
.camera{
	
	width:20px;
	
	
}
.center{
	text-align:center;
	margin-top:18%;
	min-height: 86px;
	max-height: 86px;
}
	

.btn-wrapper {
   border: 2px solid white;
    padding:2%;
    position: absolute;
    display: inline-block;
    border-radius: 100px;
    background-color: #fff;
	left:45.5%;
	transform: translate(0,-24px);
	padding-right: 27px;
}
.red-box{
     border: 2px solid red;
    height: 38px;
    width: 10px;
    position: absolute;
    background-color: red;
	top:-40px;
	left:1px;
    
}
.bio{
	color:gray;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:none; 
	
}
.col-resize{
	margin: 0 auto;
}

.full-width{
	width:100%;
}
.btn-wrapper-upload{
	position: relative;
	overflow: hidden;
	display: inline-block;


}