body{

	font-family:Arial,sans-serif;
}
p{
	text-align:center;
}
#big{
	font-size:200%;
	color:red;
	margin-bottom:10px;
	text-align:center;
}
input[type="email"]{
	border:none;
	margin-left:3%;
	margin-right:10%;
	width:100%;
	border-bottom: none;
	font-size:16px;
	padding-bottom:3px;
	padding-top:15px;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-submit{
	display:block;
	background-color:rgba(21, 139, 239, 0.79);
	border:none;
	width:95%;
	padding-top:2%;
	padding-bottom:2%;
	box-shadow: 2px 2px #888888;
	margin-left:3%;
	margin-right:10%;
	margin-top:4%;
	color:white;
	font-family:Arial;
	font-size:16px;

}
.red-box{
    border: 2px solid red;
    height: 33px;
    width: 0px;
    position: absolute;
    background-color: red;
    top: 15px;
    left:-2px;
    padding-left: 3px;
    padding-right: 3px;
}
.col-resize{
	margin: 0 auto;
}
.full-width{
	width:100%;
}