<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	
	
	<title>Forgot Password</title>
</head>
<body>
	
	<div class="container-fluid" style="margin-top: 24px;">
	
	<div class="col-md-4"></div>
	<div class="col-md-4 col-resize" style="background-color: white; padding-top: 15px; padding-bottom: 15px;">
	<div class="red-box"></div>
	
		<p id="big">Forgot Password?</p>
		<img src="../../assets/img/lock.png" width="15%"/>
		<p style="font-size:15px;">You can reset your password here.</p>
		<form action="" method="POST" novalidate [formGroup]="fpForm" (ngSubmit)="onSubmit()">
			<p>
				<span style="color:red" *ngIf="b">Your e-mail is not registered with us </span>
				<mat-form-field class="full-width" >
				<input matInput formControlName="email" type="email"  placeholder="E-Mail" required class="email"/>
				<mat-error *ngIf="fpForm.get('email').hasError('required') && fpForm.get('email').pristine">Email is required</mat-error>
				<mat-error *ngIf="fpForm.get('email').hasError('pattern')&& (fpForm.get('email').dirty || fpForm.get('email').touched)">Please enter a valid e-mail address </mat-error>
			</mat-form-field>	
			</p>
			<button class="btn-submit" type="submit" value="Submit" [disabled]="flagButton" (click)="validate()">Submit</button><br>
		</form>
	</div>
<div class="col-md-4"></div>
</div>
</body>
</html> 

