<!--The content below is only a placeholder and can be replaced.-->

<router-outlet class="background"></router-outlet>



<!-- <button routerLink="Profile" class="btn btn-lg btn-custom">
    Create Profile
  </button>
  <button routerLink="Login" class="btn btn-lg btn-custom">
    Login 
  </button>
  <button routerLink="ForgotPassword" class="btn btn-lg btn-custom">
    Forgot Password
  </button>
  <button routerLink="Registration" class="btn btn-lg btn-custom">
    Registration
  </button> -->



