<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="jumbotron">
  <h1>You have registered successfully</h1>
  <h3>Please enter the OTP sent to your email here</h3>
  <form [formGroup]="regSuccess" novalidate>
  <p>
    <mat-error *ngIf="b">Entered OTP is incorrect</mat-error>
    <mat-form-field class="full-width" >
  <input matInput [type]="show ? 'text' : 'password'"  placeholder="OTP" required class="password" formControlName="otp">
  <span style="text-align:right"><i style="float:right" class="fa fa-fw fa-eye" (click)="password()"></i></span>
  <mat-error *ngIf="regSuccess.get('otp').hasError('required') && regSuccess.get('otp').pristine">Please enter your otp</mat-error>
</mat-form-field>
</p>
  <input type="submit" class="btn btn-success btn-lg sbtn" (click)="validate()">
  </form>
</div>