<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="jumbotron">
    <h1>Please reset your password here</h1>
    <h3>Please enter the password you want to access your account with</h3>
    <form [formGroup]="passwordReset" novalidate (ngSubmit)=onSubmit()>
    <p>
    <mat-error *ngIf="b">Entered passwords don't match</mat-error>
     <mat-form-field class="full-width" >
    <input matInput [type]="show ? 'text' : 'password'"  placeholder="Password" required class="password" formControlName="password">
    <span style="text-align:right"><i style="float:right" class="fa fa-fw fa-eye" (click)="password()"></i></span>
    <mat-error *ngIf="passwordReset.get('password').hasError('required') && passwordReset.get('password').pristine">Please enter your Password</mat-error>
    <mat-error *ngIf="passwordReset.get('password').hasError('pattern')&& (passwordReset.get('password').dirty || passwordReset.get('password').touched)">Password must be atleast of 8 characters with one uppercase, one lowercase letter, one special character and one digit, without spaces</mat-error>

  </mat-form-field>
  </p>
  <p>
      <mat-form-field class="full-width" >
     <input matInput [type]="show ? 'text' : 'password'"  placeholder="Confirm Password" required class="password" formControlName="confirmPass">
     <span style="text-align:right"><i style="float:right" class="fa fa-fw fa-eye" (click)="password()"></i></span>
     <mat-error *ngIf="passwordReset.get('confirmPass').hasError('required') && passwordReset.get('confirmPass').pristine">Please confirm your password</mat-error>
   </mat-form-field>
   </p>
    <input type="submit" class="btn btn-success btn-lg sbtn" [disabled]=flagButton (click)="validate()">
    </form>
  </div>